@using System.Data;
@{
    int colspan = ViewBag.Data.Columns.Count;
    ViewBag.Title = "Index";
}

@if (GetAction() == "Filter" || GetAction() == "Mixing")
{
    <p>
        @using (Html.BeginForm(GetAction(), "Home", FormMethod.Get))
        {
            @SearchForm("ProductName", ViewBag.ProductName)
            @SearchForm("SupplierID", ViewBag.SupplierID)
            @SearchForm("CategoryID", ViewBag.CategoryID)
            @SearchForm("QuantityPerUnit", ViewBag.QuantityPerUnit)
            @SearchForm("UnitPrice", ViewBag.UnitPrice)
            if (GetAction() == "Mixing")
            {
                <input type="hidden" name="size" value="@ViewBag.Size" />
                <input type="hidden" name="num" value="@ViewBag.Num" />
                <input type="hidden" name="orderby" value="@ViewBag.OrderBy" />
            }
            <input type="submit" value="搜尋" />
        }
    </p>
}


<table border="1">
    <thead>
        <tr>
            @foreach (DataColumn dc in ViewBag.Data.Columns)
            {
                if (GetAction() != "Sorting" && GetAction() != "Mixing")
                {
                    <th>@dc.ColumnName</th>
                }
                else
                {
                    if (GetAction() != "Mixing")
                    {
                        <th>@Html.ActionLink(dc.ColumnName, GetAction(), "Home", new { orderby = dc.ColumnName }, null)</th>
                    }
                    else
                    {
                        <th>@Html.ActionLink(dc.ColumnName, GetAction(), "Home", new { ProductName = ViewBag.ProductName, SupplierID = ViewBag.SupplierID, CategoryID = ViewBag.CategoryID, QuantityPerUnit = ViewBag.QuantityPerUnit, UnitPrice = ViewBag.UnitPrice, size = ViewBag.Size, num = ViewBag.Num, orderby = dc.ColumnName }, null)</th>
                    }

                }


            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dr in ViewBag.Data.Rows)
        {
            <tr>
                @foreach (Object dc in dr.ItemArray)
                {
                    <td>@dc</td>
                }
            </tr>
        }
    </tbody>

    @if (GetAction() == "Pagination" || GetAction() == "Mixing")
    {
        <tfoot>
            <tr>
                <th colspan="@colspan">
                    @for (var i = 0; i < Math.Ceiling((double)ViewBag.Total / ViewBag.Size); i++)
                    {
                        if (GetAction() != "Mixing")
                        {
                            @Html.ActionLink((i + 1).ToString(), GetAction(), "Home", new { size = ViewBag.Size, num = i * ViewBag.Size }, null)
                        }
                        else
                        {
                            @Html.ActionLink((i + 1).ToString(), GetAction(), "Home", new { ProductName = ViewBag.ProductName, SupplierID = ViewBag.SupplierID, CategoryID = ViewBag.CategoryID, QuantityPerUnit = ViewBag.QuantityPerUnit, UnitPrice = ViewBag.UnitPrice, size = ViewBag.Size, num = i * ViewBag.Size, orderby = ViewBag.OrderBy }, null)
                        }
                    }
                </th>
            </tr>
        </tfoot>
    }
</table>




@helper SearchForm(string name, string value)
{
    <span>@name</span>
    <input type="text" name="@name" value="@value" />
}

@functions {
    public string GetAction() { 
        return ViewContext.RouteData.Values["action"].ToString();
    }
}